<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings />
        <client />

      <behaviors>
        <serviceBehaviors>
          <behavior>
            <dataContractSerializer maxItemsInObjectGraph="6553500"/>
            <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
            <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
            <serviceDebug includeExceptionDetailInFaults="true" />
          </behavior>

        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="traceListener"
              type="System.Diagnostics.XmlWriterTraceListener"
              initializeData="c:\temp\log\Traces1.svclog"  />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
</configuration>